*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fb;
    background: url("pile-livres-realiste_1284-4735.jpg");
}

header{
    background:#1e3a8a;
    padding:15px;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    font-size:22px;
}

nav a{
    color:white;
    margin:0 10px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.container{
    width:90%;
    margin:auto;
    padding:20px;
}

.books{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    text-align:center;
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:8px;
}

.card h3{
    margin:10px 0;
}

button{
    background:#2563eb;
    color:white;
    padding:8px 15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1e40af;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table, th, td{
    border:1px solid #ddd;
}

th, td{
    padding:10px;
    text-align:center;
}

footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

